{:id            "trello-integration"
 :name          "Trello Integration"
 :version       "0.0.1"
 :main          "main.js"
 :content       "content.cljs"
 :description   "Push and Pull todos to Trello"
 :source        "https://github.com/webbscope/logseq-trello-plugin"
 :homepage      "https://github.com/webbscope/logseq-trello-plugin"
 :settings      [{:type "text" 
                  :key "trello_api_key"
                  :label "Trello API Key"
                  :placeholder "Enter your Trello API Key"}
                 {:type "text"
                  :key "trello_secret"
                  :label "Trello Secret"
                  :placeholder "Enter your Trello Secret"}
                 {:type "text"
                  :key "trello_todo_list_id"
                  :label "Trello TODO List ID"
                  :placeholder "Enter your Trello Todos list id"}]}
